/* # Homepage Banenr
================================================== */
#superslides {
	position: relative;
	z-index: 2;
	background-color: #fff;
}
#superslides .slides-container {
	display: none;
}
#superslides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#superslides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
#superslides .slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 50%;
	margin-top: -35px;
	width: 100%;
}
#superslides .slides-navigation a {
	position: absolute;
	display: block;
	color: rgba(0,0,0,.35);
	font-size: 80px;
	line-height: 1.0em;
	text-align: center;
}
#superslides .slides-navigation a:hover {
	color: rgba(0,0,0,.65);
}
#superslides .slides-navigation a.prev {
	left: 0;
	width: 80px;
	height: 80px;
}
#superslides .slides-navigation a.next {
	right: 0;
	width: 80px;
	height: 80px;
}
.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 25px;
	text-align: center;
	width: 100%;
}
.slides-pagination a {
	border: none;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background-color: rgba(0,0,0,.35);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
	zoom: 1;
 *display: inline;
	margin: 4px;
	overflow: hidden;
	text-indent: -99999px;
}
.slides-pagination a:hover {
	border: none;
	background-color: rgba(0,0,0,.55);
}
.slides-pagination a.current {
	border: none;
	background-color: rgba(0,0,0,.55);
}
.slide-content {
	position: absolute;
	color: #fff;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 36%;
	width: 100%;
	text-align: center;
	z-index: 99;
}
.slide-content h1, .slide-content h3, .slide-content p {
	text-shadow: 1px 1px 3px #000;
	color: #fff !important;
}
.slide-content h1 {
	margin-bottom: 18px;
	font-size: 65px;
	line-height: 1.1em;
	font-weight: lighter;
	letter-spacing: -2px;
}
.slide-content h3 {
	font-size: 36px;
	line-height: 1.1em;
	letter-spacing: -2px
}
.slide-content p {
	font-size: 18px;
	line-height: 1.3em;
}
.btn-slide-more {
	font-size: 22px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin-top: 32px;
	padding: 12px 32px;
	background-color: #f08300;
}
